# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

- List of some of the popular data scince languages
- Some of the commonly used libraries
- Creating tables in jupyter    
- Arithmetic expression
- Conversion of minutes to hours

Some of the popular languages that Data Scientists use are:
1. NumPy
2. Matplotlib
3. Pandas
4. Scikit-learn

| Data science |
|------------- |
| Jupyter |
| Apache zeppelin |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [13]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [19]:
# This will convert 200 minutes to hours by diving by 60
200 // 60

3

## Author
Luvuyo Mfincane